nav {
    padding: 63px 50px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav header {
    margin-left: 12px !important;
    font-size: 27px;
    color: #000000;
    white-space: nowrap;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li a {
    text-decoration: none !important;
    color: #67645E;
    font-size: 11px;
    white-space: nowrap;
    margin-left: 28px;
}

nav ul li a:hover {
    color: #D3148B;
}

.logo-body {
    display: flex;
    flex-direction: row;
}

@media (max-width: 840px) {
    nav {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul {
        border: 1px solid rgba(0, 22, 22, 0.4);
        height: 120px;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .intro {
        margin-top: 280px;
    }

    .logo-body {
       justify-content: center;
    }
}
