.carousel-wrapper {
    margin-bottom: 130px;
}

.carousel-body {
    background: #250400;
    width: 100%;
    height: 633px;
}

.yeni-header {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
    color: #FFFFFF;
}

.ozel-header {
    position: absolute;
    z-index: 2;
    bottom: 25%;
    left: 10%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.carousel-body p {
    color: white;
}

.carousel-body li {
    list-style-type: none;
}

.control-prev {
    margin-left: 80% !important;
    top: 40% !important;
    display: block !important;
}

.control-next {
    margin-right: 10% !important;
    top: 40% !important;
    display: block !important;
}

.control-disabled.control-arrow {
    opacity: 1 !important;
}

.carousel.carousel-slider .control-arrow:hover {
    background: transparent !important;
}

.control-dots {
    margin-left: 35% !important;
    top: 66% !important;
}

.carousel-body li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .carousel-wrapper {
        margin-bottom: 110px;
    }

    .carousel-body {
        height: 600px;
    }
    
    .yeni-header {
        font-size: 55px;
        top: 20%;
        left: 50%;
        line-height: 72px;
    }
    
    .ozel-header {
        font-size: 31px;
        bottom: 25%;
        left: 10%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .carousel-wrapper {
        margin-bottom: 90px;
    }

    .carousel-body {
        height: 570px;
    }
    
    .yeni-header {
        font-size: 50px;
        top: 30%;
        left: 50%;
        line-height: 62px;
    }
    
    .ozel-header {
        font-size: 26px;
        bottom: 25%;
        left: 10%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .carousel-wrapper {
        margin-bottom: 70px;
    }

    .carousel-body {
        height: 550px;
    }
    
    .yeni-header {
        font-size: 45px;
        top: 30%;
        left: 50%;
        line-height: 52px;
    }
    
    .ozel-header {
        font-size: 21px;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .control-prev {
        margin-left: 40% !important;
        top: 60% !important;
    }
    
    .control-next {
        margin-right: 40% !important;
        top: 60% !important;    
    }

    .control-dots {
    margin-left: 0% !important;
    top: 76% !important;
    }
}

@media (max-width: 576px) {
    .carousel-wrapper {
        margin-bottom: 50px;
    }

    .carousel-body {
        height: 500px;
    }
    
    .yeni-header {
        font-size: 35px;
        top: 30%;
        left: 50%;
        line-height: 42px;
    }
    
    .ozel-header {
        font-size: 16px;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .control-prev {
        margin-left: 40% !important;
        top: 60% !important;
    }
    
    .control-next {
        margin-right: 40% !important;
        top: 60% !important;    
    }

    .control-dots {
        margin-left: 0% !important;
        top: 76% !important;
    }
}