.intro img {
    width: 100%;
    height: auto;
    border-radius: 0px 0 20px 20px;
    mix-blend-mode: multiply;
}

.intro-body {
    background: linear-gradient(89.41deg, rgba(34, 0, 0, 0.8) 0.51%, rgba(87, 0, 0, 0) 99.54%);
    mix-blend-mode: multiply;
    position: relative;
}

.inside-header {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    color: white;
}

.intro span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    color: white;
    margin-bottom: 24px;
}

.intro-inside {
    position: absolute;
    z-index: 2;
    top: 23%;
    left: 5%;
}

.welcome-header {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 82px;
    color: #000000;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 32px;
}

.welcome-parag {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    margin-bottom: 120px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .inside-header {
        font-size: 55px;
    }
    
    .intro span {
        font-size: 25px;
    }

    .intro-inside {
        top: 18%;
    }

    .welcome-header {
        font-size: 55px;
        margin-top: 100px;
    }

    .welcome-parag {
        font-size: 25px;
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .inside-header {
        font-size: 50px;
        line-height: 40px;
    }
    
    .intro span {
        font-size: 15px;
        line-height: 20px;
    }

    .intro-inside {
        top: 28%;
    }

    .welcome-header {
        font-size: 50px;
        margin-top: 80px;
    }

    .welcome-parag {
        font-size: 30px;
        margin-bottom: 80px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .inside-header {
        font-size: 20px;
        line-height: 25px;
    }
    
    .intro span {
        font-size: 10px;
        line-height: 10px;
    }

    .intro-inside {
        top: 28%;
    }

    .welcome-header {
        font-size: 50px;
        margin-top: 60px;
    }

    .welcome-parag {
        font-size: 20px;
        margin-bottom: 60px;
    }
}

@media (max-width: 576px) {
    .inside-header {
        font-size: 20px;
        line-height: 25px;
    }
    
    .intro span {
        font-size: 10px;
        line-height: 10px;
    }

    .intro-inside {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .welcome-header {
        font-size: 48px;
        margin-top: 20px;
    }

    .welcome-parag {
        font-size: 15px;
        margin-bottom: 30px;
    }

}

@media (max-width: 400px) {
    .intro span {
        display: none;
    }
}